.card-container{
    width: fit-content;
    height: fit-content;
    border: 1px solid #888888;
    border-radius: 1.25em;
    box-shadow: 10px 5px #a8a6a6;
    padding: 1em;
    margin: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(224, 222, 222);
}

.heading-one{
    font-size: large;
}

a:hover{
    color: green;
}